.bcmnp-rotate-box {
    box-sizing: border-box;
    position: absolute;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    font-size: 12px;
    padding: 10px 20px 12px 20px;
    text-align: left;
    color: #fff;
    display: none;
    user-select: none;
}


.bpx-player-ctrl-rotate:hover {
    animation: none !important;
}

.bcmnp-rows {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bcmnp-cols {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.bcmnp-auto-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

.bcmnp-rotate-item {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 2px;
    width: 50px;
    height: 23px;
    line-height: 23px;
    transition: background-color 0.3s ease;
}

.bcmnp-rotate-item.checked {
    background-color: var(--brand_blue, #00AEEC);
}

.bcmnp-rotate-item:not(.checked):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.bcmnp-rotate-item:hover {
    cursor: pointer;
}