.bcmnp-rotate-box {
    box-sizing: border-box;
    position: absolute;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    font-size: 12px;
    padding: 8px 20px 12px 20px;
    text-align: left;
    color: #fff;
    display: none;
    user-select: none;
}


.bpx-player-ctrl-rotate:hover {
    animation: none !important;
}

.bcmnp-rows {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.bcmnp-cols {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.bcmnp-label {
    margin-top: 5px;
}

.bcmnp-btn-item {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 2px;
    width: 50px;
    height: 23px;
    line-height: 23px;
    transition: background-color 0.3s ease;
}

.bcmnp-btn-item.checked {
    background-color: var(--bpx-primary-color, #00AEEC);
}

.bcmnp-btn-item:not(.checked):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.bcmnp-btn-item:hover {
    cursor: pointer;
}